section {
    margin:1rem 0;
}


.change_bg {
    background:white;
    transition:0.5s;
}
.change_bg:hover {
    background:forestgreen;
    transition:0.5s;
}


.ltor {
    position:relative;

}
.ltor::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:0;
    background:orange;
    z-index:-1;
    transition:0.5s;
}
.ltor:hover::before {
    width:100%;
    transition:0.5s;
}

.rotate {
    background:crimson;
    transition:0.2s;
}
.rotate:hover {
    transform:rotate(-5deg);
    transition:0.2s;
}


.scale_area {
    display:inline-block;
    overflow:hidden;
    border:solid 0.25rem orange;
}
.scale {
    transition:0.2s;
}
.scale:hover {
    transform:scale(1.2,1.2);
    transition:0.2s;
}
